$font-main: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
$font-accent: 'Bebas Neue', Arial, Helvetica, sans-serif;
$font-accent-alt: 'Bebas Neue Book', Arial, Helvetica, sans-serif;

$brand-color-primary: #e7b356;
$brand-color-primary-hover: lighten(#e7b356, 5%);

$brand-color-secondary: #B29F77;
$brand-color-tetriary: #41FFA3;

$brand-color-purple-opacify: #341668CB;
$brand-color-purple: #341668;
