- var siteTitle = "Rosesland Farm"

-
	var config = {
	   email: 'rosesland-russia@ya.ru',
		address: 'Белгород, Свято-Троицкий бульвар, 8; Ежедневно с 8 до 22. ',
		phone: '+7(920)-596-99-90',
		socials: [
			{
			title: 'Вконтакте',
			url: 'https://vk.com',
			icon: 'vk'
			},
			{
			title: 'Instagram',
			url: 'https://instagram.com',
			icon: 'instagram'
			},
			{
			title: 'Facebook',
			url: 'https://facebook.com',
			icon: 'facebook'
			}
		]
	};
