block config
	include ../helpers/config

doctype html

html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="css/style.css", rel="stylesheet")
		script(src="scripts/swiper.min.js")
		script(src="scripts/jquery.min.js")
		script(src="scripts/ajax.js")
		script(src="scripts/app.js")
		script(src="scripts/mini-cart.js")

		block head

	

		title #{siteTitle}
	body
		.wrap.wrap_no-spacing
			include ../modules/header

			block content

			include ../modules/footer

		include ../modules/svg-inline

		block scripts
